
<launch>
    <param name="robot_description" textfile="$(find ar3_model)/urdf/ar3_moveit.urdf" />
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- <arg name="world_name" value="$(find ar3_model)/world/world1.world" /> -->
        <arg name="paused" value="true"/>
    </include>
    <node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model ar3 -param robot_description -x 0 -y 0 -z 0"  />
</launch>